<!DOCTYPE html>
<html ng-app="store">

<head>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="StoreController as store">

  <div class="container">

    <h1>
      Our Gem Store
    </h1>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">
        <h2>
          {{product.name}}
          <em class="pull-right"> {{product.price | currency:"$"}}</em>
          <!-- <product-title></product-title> TODO: this only works across http requests, would need gulp or other option to run this -->
            <!-- <product-gallery ng-show="product.images.length"></product-gallery> -->
            <div class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery">
              <img class="img img-circle img-thumbnail center-block" ng-src="{{product.images[gallery.current]}}" />
              <ul class="img-thumbnails clearfix">
                <li class="small-image pull-left thumbnail" style="width: 40px;" ng-repeat="image in product.images">
                  <!-- how to dynamically set this up  -->
                  <a href ng-click="gallery.setCurrent($index)">
                    <img  ng-src="{{image}}">
                  </a>
                </li>
              </ul>
            </div>
        </h2>
          <section ng-controller="PanelController as panel">
            <ul class="nav nav-pills">
                <li ng-class="{active: panel.isSelected(1)}"> <a href ng-click="panel.selectTab(1)">Description</a> </li>
                <li ng-class="{active: panel.isSelected(2)}"> <a href ng-click="panel.selectTab(2)">Specifications</a> </li>
                <li ng-class="{active: panel.isSelected(3)}"> <a href ng-click="panel.selectTab(3)">Reviews</a> </li>
            </ul>
            <div class="panel" ng-show="panel.isSelected(1)">
                <h3>Description</h3>
                <blockquote> {{product.description}} </blockquote>
            </div>
            <div class="panel" ng-show="panel.isSelected(2)">
                <h3>Specifications</h3>
                <blockquote>None yet</blockquote>
            </div>
            <div class="panel" ng-show="panel.isSelected(3)">
                <h3>Reviews</h3>
                <blockquote ng-repeat="review in product.reviews">
                  <b>Stars: {{review.stars}}</b></br>
                  "{{review.body}}"</br>
                  <cite ng-show="review.author">by: {{review.author}}</cite>

                </blockquote>

                <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>

                  <blockquote>
                    <p>Preview</p>
                    <b>Stars: {{reviewCtrl.review.stars}}</b></br>
                    "{{reviewCtrl.review.body}}"</br>
                    <cite ng-show="reviewCtrl.review.author">by: {{reviewCtrl.review.author}}</cite>

                  </blockquote>

                  <fieldset class="form-group">
                    <label for="stars">Rate Item</label>
                    <select class="form-control" id="stars" ng-model="reviewCtrl.review.stars" required>
                      <option ng-repeat="i in [1,2,3,4,5]" value="{{i}}">{{i}} Stars</option>
                    </select>
                  </fieldset>

                  <fieldset class="form-group">
                    <textarea class="form-control" ng-model="reviewCtrl.review.body" required></textarea>
                  </fieldset>

                  <fieldset class="form-group">
                    <label for="email">By:</label>
                    <input type="email" id="email" class="form-control" ng-model="reviewCtrl.review.author" />
                  </fieldset>

                  <fieldset class="form-group">
                    <input class="btn btn-warning" type="submit" value="Submit" />
                  </fieldset>

                </form>
            </div>
            <button class="btn btn-primary" ng-show="product.canPurchase">Add to Cart</button>

          </section>
      </li>
    </ul>
  </div>


  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="products.js"></script>

</body>
</html>
